
@import 'bootstrap/dist/css/bootstrap.min.css';
#main-container {
  place-items: center center;
  background: coral;
  max-width: 350px;
}

#sign-in-form {
  max-width: 330px;
}

.bootstrap-logo {
  width: 72px;
  height: 72px;
}

.form-control:focus {
  z-index: 5;
}